{{> header.hbs}}

<form method="post" action="/siteVisitor-search">
    <label>Movie Name:</label><input name="mName" type="text" size="20">
    <button type="submit">Search</button>
</form>

<ul>
    <li><a href="/login">Click here to login</a></li>
    <li><a href="/sitemember-signup">Don't have an account? Click here to sign up!</a></li>
</ul>
{{> footer.hbs}}